/* APPLICATION STYLES */

/* GLOBAL CSS */

.theme-icon {
  width: 48px;
  height: 48px;
  transition: transform 100ms ease;
  cursor: pointer;
}

.theme-icon:hover {
  transform: scale(1.2);
}

.sun:hover {
  color: var(--secondary-color);
}

.moon {
  color: #fff;
}

.moon:hover {
  color: var(--teritary-color);
}

.btn {
  display: block;
  text-align: center;
  color: var(--text-color);
  font-size: var(--heading-three-font-size);
  font-weight: calc(var(--font-weight) * 4);
  font-family: var(--font-family);
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--dim-blue-color);
  border-radius: 20px;
  box-shadow: 0 0 240px var(--rgba-quaternary-color);
  padding: 2.5em;
  font-size: 1em;
  gap: 1em;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: row;
  padding: 2em;
}

/* HEADER CSS */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  padding: 20px;
}

.navbar-left .logo {
  text-decoration: none;
  font-size: var(--heading-two-font-size);
  font-weight: calc(var(--font-weight) * 4);
  background: linear-gradient(
    0deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navbar-center .link {
  text-decoration: none;
  padding: 1em;
  color: var(--text-color);
  transition: color 500ms ease;
}

.navbar-center .link:hover {
  background-color: var(--rgba-header-color);
  color: var(--quaternary-color);
  border-radius: 50px;
  box-shadow: 0 0 120px var(--rgba-quaternary-color-flip);
}

/* HOME CSS */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  height: 75vh;
}

.hero h1 {
  font-size: calc(var(--heading-one-font-size) * 2.2);
  font-weight: calc(var(--font-weight) * 4);
  background: var(--text-clip);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
}

.hero p {
  font-size: var(--heading-four-font-size);
  color: var(--text-color);
  text-wrap: wrap;
  text-align: center;
  margin-top: -2em;
}

.hero .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: row;
}

.btn1,
.btn3 {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  padding: 15px;
  border-radius: 50px;
  width: 8em;
}

.btn1:hover,
.btn3:hover {
  background-color: var(--teritary-color);
  color: #000;
}

.btn2 {
  background-color: var(--quaternary-color);
  padding: 15px;
  border-radius: 50px;
  width: 8em;
}

.btn2:hover {
  background-color: var(--text-color);
  color: var(--quaternary-color);
}

.more-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4em;
  margin-top: 8em;
  color: var(--text-color);
  width: 50vw;
  height: auto;
  background-color: var(--rgba-quaternary-color);
  padding: 5em;
  border-radius: 20px;
  box-shadow: 0 0 240px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  text-align: center;
  margin-bottom: 2em;
}

.more-information p {
  font-size: var(--heading-five-font-size);
}

.more-information ol {
  text-align: left;
}

.more-information h1 {
  font-size: var(--heading-two-font-size);
  font-weight: calc(var(--font-weight) * 4);
}

.more-information {
  gap: 0;
}

.more-info2 {
  margin-bottom: 3em;
}

.btn3 {
  margin-top: 1em;
}

/* BASIC MATH CSS */

.main1 {
  gap: 1.5em;
}

.container-body1 {
  width: 35vw;
}

.number {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  width: 4em;
  height: 2em;
}

.operand {
  background-color: var(--light-blue-color);
  color: #000;
  width: 4em;
  height: 2em;
}

.number:hover,
.operand:hover {
  background-color: var(--quaternary-color);
  color: var(--text-color);
}

.delete,
.clear,
.equal,
.dot {
  background-color: var(--teritary-color);
  color: #000;
  width: 4em;
  height: 2em;
}
.delete:hover,
.clear:hover,
.equal:hover,
.dot:hover {
  background-color: var(--quaternary-color);
  color: var(--text-color);
}

.copy-button {
  background-color: var(--light-blue-color);
  color: #000;
  padding: 15px;
  border-radius: 50px;
  width: 6em;
}

.copy-button:hover {
  background-color: var(--quaternary-color);
  color: var(--text-color);
}

.calculator {
  display: grid;
  grid-template: repeat(5, 4em) / repeat(4, 8em);
  place-content: center;
  place-items: center;
  gap: 0.5em;
  padding: 1em;
}

.screen {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1em;
  width: 9em;
  height: 0.1em;
  background-color: var(--quaternary-color);
  border: 1px solid transparent;
  color: var(--primary-color);
  border-radius: 20px;
  font-family: var(--font-family);
  font-weight: calc(var(--font-weight) * 4);
  font-size: var(--heading-one-font-size);
  overflow-wrap: anywhere;
}

@media (max-width: 768px), (max-width: 1024px) {
  /* TO-DO FIX MOBILE MENU RESPONSIVENESS, ADD THIS UNDER THE STYLES ABOVE */
}

/* PMT CSS */

.main2 {
  gap: 2em;
}

.container-body2 {
  width: 50vw;
  height: auto;
  padding: 1em;
  margin-bottom: 2em;
  gap: 0.2em;
}

.container-body2 h1 {
  font-size: var(--heading-two-font-size);
  color: #fff;
  text-align: center;
}

.container-body2 p {
  font-size: var(--heading-five-font-size);
  color: #fff;
  text-align: center;
}

.pmt-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 2em 0 1em 0;
}

.pmt-inputs input[type="number"] {
  padding: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  width: 20vw;
  font-family: var(--font-family);
  color: #fff;
  font-size: var(--heading-six-font-size);
  text-align: center;
}

/* GET RID OF UP/DOWN BUTTONS FOR NUMBER INPUT FIELD */
.pmt-inputs input[type="number"]::-webkit-outer-spin-button,
.pmt-inputs input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pmt-inputs input[type="number"]::placeholder {
  color: var(--rgba-quaternary-color-flip);
}

.pmt-inputs input[type="number"]:focus {
  outline: none;
  outline: 3px solid var(--teritary-color);
}

.container-body2 h3 {
  font-size: var(--heading-two-font-size);
  color: #fff;
  text-align: center;
}

.calculate,
.reset-button {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  padding: 15px;
  border-radius: 50px;
  width: 6em;
}

.calculate:hover,
.reset-button:hover {
  background-color: var(--teritary-color);
  color: #000;
}

/* FV CSS */

/* PV CSS */

/* NPER CSS */

/* DIALOG STYLING */
[data-success],
[data-error] {
  background-color: var(--teritary-color);
  padding: 3em;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 1);
  text-align: center;

  /* Closed state: scaled down and transparent */
  opacity: 0;
  transform: scale(0.8);

  /* Transition setup including allow-discrete for display */
  transition:
    opacity 0.3s ease-out,
    transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
    overlay 0.3s allow-discrete,
    display 0.3s allow-discrete;
}

[data-success]:open,
[data-error]:open {
  /* Open state: fully visible and normal size */
  opacity: 1;
  transform: scale(1);

  /* Define the starting point for the entry animation */
  @starting-style {
    opacity: 0;
    transform: scale(0.8);
  }
}

[data-success]::backdrop,
[data-error]::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

[data-success]:open::backdrop,
[data-error]:open::backdrop {
  opacity: 1;
}

[data-success] .dialog-content,
[data-error] .dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

[data-success] .dialog-content h3,
[data-error] .dialog-content h3 {
  color: var(--text-color);
  font-size: var(--heading-four-font-size);
  height: 0;
  margin-top: -5px;
}

.close-success-modal,
.close-error-modal {
  cursor: pointer;
}
