@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

/* FOUNDATION STYLES */
:root {
  --primary-color: #0084ff;
  --secondary-color: #002140;
  --teritary-color: #ffec41;
  --quaternary-color: #fff;
  --dim-blue-color: #0b0d1c;
  --light-blue-color: #80c2ff;
  --text-color: #000;
  --text-clip: linear-gradient(
    180deg,
    var(--primary-color),
    var(--dim-blue-color)
  );
  --rgba-quaternary-color: rgba(255, 255, 255, 0.5);
  --rgba-quaternary-color-flip: rgba(0, 0, 0, 0.5);
  --rgba-header-color: rgba(0, 0, 0, 0.9);

  --font-family: "Stack Sans Text", sans-serif;
  --font-weight: 200;
  --heading-one-font-size: 48px;
  --heading-two-font-size: 36px;
  --heading-three-font-size: 32px;
  --heading-four-font-size: 24px;
  --heading-five-font-size: 20px;
  --heading-six-font-size: 18px;
}

:root[data-theme="dark"] {
  --secondary-color: #80c2ff;
  --quaternary-color: #000;
  --text-color: #fff;
  --text-clip: linear-gradient(180deg, var(--primary-color), var(--text-color));
  --rgba-quaternary-color: rgba(0, 0, 0, 0.5);
  --rgba-quaternary-color-flip: rgba(255, 255, 255, 0.5);
  --rgba-header-color: rgba(255, 255, 255, 0.9);
}

::selection {
  background-color: #fff;
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;

  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

body {
  font-family: var(--font-family);
  background: linear-gradient(
    0deg,
    var(--primary-color),
    var(--quaternary-color) 80%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
